.wrapper {
  padding: 10px;
}

.modal {
  width: 500px !important;
  height: auto !important;
  position: fixed !important;
  top: 5% !important;
  left: 5% !important;
}

.visible.menu {
  overflow-y: scroll;
  height: 150px;
}

.loading {
  text-align: center;
}

.loading > img {
  width: 20px;
  height: 20px;
}

.toggle-btn {
  float: right;
}

.logo {
  width: 55px;
  height: 55px;
}
