.add-btn {
  margin-bottom: 63px;
}

.wrapper {
  padding: 10px;
}

.modal {
  width: 500px !important;
  height: auto !important;
  position: fixed !important;
  top: 5% !important;
  left: 5% !important;
}

.visible.menu {
  overflow-y: scroll;
  height: 150px;
}
